{
  "presets": ["stage-2"],
  "plugins": ["@babel/plugin-proposal-object-rest-spread"],
  "env": {
    "development": {
      "presets": [
        "stage-2",
        ["env", { "modules": false }]
      ]
    },
    "test": {
      "presets": [
        "stage-2",
        ["env", {
          "modules": false,
          "targets": { "node": "current" }
        }]
      ],
      "plugins": ["istanbul"]
    }
  }
}
